@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;600;800&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --orange1: #FFB474;
    --orange2: #924300;
    --orange3: #303030;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', serif;
}

body {
    overflow-x: hidden;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#menu {
    display: none;
}

.menu label img {
    width: 50px;
    cursor: pointer;
}

.menu label {
    display: none;
}

.icono-logo {
    width: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar ul li a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.navbar ul li a:hover{
    color: var(--orange2);
    border-bottom: 3px solid var(--orange2);
}

.navbar ul li a.current{
    color: var(--orange2);
}

/* contacto */

.contacto {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange1);
}

.contacto-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 30px 15px;
    gap: 20px;
}

.contacto-content h3 {
    text-align: center;
    font-size: 30px;
    color: var(--white);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contacto-content p {
    font-size: 20px;
}

.contacto-content img {
    width: 100%;
}


/* footer */

.footer {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 0;
}

.footer p {
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social-media{
    display: flex;
    gap: 30px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 768px){
    .products-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        width: 100%;
        position: absolute;
        left: 0;
        top: 74px;
        background-color: var(--orange3);
        display: none;
    }

    .menu .navbar ul{
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .menu .navbar ul li{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .navbar ul li a{
        padding: 10px 0;
        border: none;
        color: var(--white);
    }

    .menu .navbar ul li:hover{
        background-color: #FFB474;
        cursor: pointer;
    }

    .menu .navbar ul li a:hover{
        color: black;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .footer {
        text-align: center;
        flex-direction: column;
    }
}