<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/products.css">
    <title>PixelArte</title>
</head>
<body>
    <header class="header">
        <div class="menu">
            <div class="logo">
                <img src="./../images/logo.png" class="icono-logo" alt="logo">
                <p class="name-logo">PixelArte</p>
            </div>
            <input type="checkbox" id="menu">
            <label for="menu"><img src="./../images/menu.png" class="menu-icono" alt=""></label>
            <nav class="navbar">
                <ul>
                    <li><a href="./../index.html">inicio</a></li>
                    <li><a class="current" href="./products.html">productos</a></li>
                    <li><a href="./budget.html">presupuesto</a></li>
                    <li><a href="./contact.html">contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div>
            <h3>Nuestros productos top</h3>
            <div class="products-list">
                <div class="card-product one">
                    <img src="./../images/product1.jpg" alt="product1">
                    <a href="#">comprar</a>
                </div>
                <div class="card-product two">
                    <img src="./../images/product2.jpg" alt="product2">
                    <a href="#">comprar</a>
                </div>
                <div class="card-product three">
                    <img src="./../images/product3.jpg" alt="product3">
                    <a href="#">comprar</a>
                </div>
                <div class="card-product four">
                    <img src="./../images/product1.jpg" alt="product4">
                    <a href="#">comprar</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="social-media">
            <img src="./../images/facebook.png" alt="facebook">
            <img src="./../images/instagram.png" alt="instagram">
            <img src="./../images/youtube.png" alt="youtube">
        </div>
        <p>Copyright Copyright</p>
    </footer>
</body>
</html>